{% extends 'index.html' %}
{% block content %}
    <h1>Lista de Libros</h1>

    <table>
        <tr>
            <th>Titulo</th>
            <th>Autor</th>
            <th>Numero de paginas</th>
            <th>Genere</th>
            <th>Publisher</th>
            <th>Delete?</th>
        </tr>
        {% for libro in libros %}
        
            <tr>
                <td>{{libro.title}}</td>
                <td>{{libro.autor}}</td>
                <td>{{libro.numberofpages}}</td>
                <td>{{libro.genre}}</td>
                <td>{{libro.publisher}}</td>
                <td><button onclick="location.href='http://localhost:5000/delete/{{loop.index}}'">Delete</button></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}