{% extends 'index.html' %}
{% block content %}
    <h1>Nou llibre</h1>
    <form action="/newBook" method="post">
        <h3>Titul</h3>
        <input type="text" name="title">
        <h3>Autor</h3>
        <input type="text" name="autor">
        <h3>Numero de pagines </h3>
        <input type="text" name="numberOfPages">
        <h3>Genere</h3>
        <input type="text" name="genre">
        <h3>publisher</h3>
        <input type="text" name="publisher">
        <input type="submit" value="Introdueix">
    </form>
{% endblock %}